<ion-view cache-view="false" view-title="{{title}}">
  <ion-content>
  	<center ng-show="spinner">
  		<ion-spinner></ion-spinner>
  	</center>
    <div class="list card" ng-show="table" ng-bind-html="table.teams"></div>
  	<div class="list card" ng-show="table" ng-bind-html="table.table"></div>
  </ion-content>
</ion-view>
