<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/news">
          <b>Главная</b>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Премьер-Лига">
          Премьер-Лига
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Кубок лиги">
          Кубок лиги
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Лига чемпионов">
          Лига чемпионов
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Лига Европы">
          Лига Европы
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Сборная Англии">
          Сборная Англии
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Трансферы">
          Трансферы
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tags/Фото">
          Фото
        </ion-item>
        <div class="item-divider"></div>
        <ion-item nav-clear menu-close href="#/app/results">
          Результаты
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/fixtures/0">
          Расписание
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/table">
          Таблица
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/birth_days">
          Дни рождения
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/top_scorers">
          Бомбардиры
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
