<ion-view view-title="{{title}}">
  <ion-content>
    <ion-refresher pulling-text="Потяните для обновления" on-refresh="doRefresh()">
    </ion-refresher>
    <center ng-show="spinner">
      <ion-spinner></ion-spinner>
    </center>
    <div>
      {{error_ionic|json}}
    </div>
    <div class="list card" ng-repeat="item in news">

        <div class="item">
          <center>
            <a class="news-title" ng-href="#/app{{item.id}}">
              <h3 class="news-title">{{item.title}}</h3>
            </a>
          </center>
        </div>

        <div class="item item-body">
            <a href="#/app{{item.id}}">
              <img class="full-image" ng-src="{{item.img}}">  
            </a>
            <p>
                {{item.description}}
            </p>
            <p>
              <div>
                <i class="icon ion-ios-pricetag-outline"></i>
                <a ng-href="#/app/tags/{{tag.name}}" ng-repeat="tag in item.tags" class="news-tags">{{tag.name}}{{$last!=true?', ':''}}</a>
              </div>
              <!-- <div>
                <i class="icon ion-calendar"></i>
                <span class="news-date">
                  {{item.date}}
                </span>
              </div> -->
            </p>
        </div>
    </div>
    <ion-infinite-scroll immediate-check="false" distance="1%" on-infinite="loadMore()" ng-if="isMore">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>