<ion-view view-title="{{current_news.title}}">
  <ion-content>
  	<center ng-show="!current_news">
  		<ion-spinner></ion-spinner>
  	</center>
  	<div class="card" ng-show="current_news">
  		<div class="item">
          <center>
            <h3 class="news-title">{{current_news.title}}</h3>
          </center>
        </div>

        <div class="item item-body">
            <img class="full-image" ng-src="{{current_news.img}}">
            <p ng-bind-html="current_news.content">
                
            </p>
            <p>
            	<div>
	                <i class="icon ion-ios-pricetag-outline"></i>
	                <a ng-href="#/app/tags/{{tag.name}}" ng-repeat="tag in current_news.tags" class="news-tags">{{tag.name}}{{$last!=true?', ':''}}</a>
              </div>
            </p>
            <p>
                <a href="#" class="subdued"><i class="icon ion-person"></i>{{current_news.author}}</a>
                <a href="#" class="subdued"><i class="icon ion-ios-eye"></i>{{current_news.views}}</a>
            </p>
        </div>
  	</div>
  </ion-content>
</ion-view>
