<ion-view cache-view="false" view-title="{{title}}">
  <ion-content>
  	<center ng-show="spinner">
  		<ion-spinner></ion-spinner>
  	</center>
    <div class="list" ng-show="table.select.length">

      <label class="item item-input item-select">
        <div class="input-label">
          Выберите сезон
        </div>
        <select ng-model="season" ng-change="load_table(table_type, season)" ng-options="select.value as select.name for select in table.select">
        </select>
      </label>

    </div>
  	<div class="list card" ng-show="table" ng-bind-html="table.table"></div>
  </ion-content>
</ion-view>
