/* Empty. Add your own CSS if you like */
.news-title {
	white-space: normal !important;
	text-decoration: none !important;
}
.news-tags {
	text-decoration: none !important;
	font-size: 10px;
}
.news-date {
	font-size: 10px;
}

img {
    width: 100%;
}
/*.spinner svg {
  width: 100% !important;
  height: 100% !important;
}*/

.list.ng-enter,
.list.ng-leave,
.list.ng-move {
    -webkit-transition: 1.5s ease-out all;
    -moz-transition: 1.5s ease-out all;
    -o-transition: 1.5s ease-out all;
    transition: 1.5s ease-out all;
}

.list.ng-enter,
.list.ng-move {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.list.ng-move.ng-move-active,
.list.ng-enter.ng-enter-active {
    opacity: 1;
    height: 100%;
}

.list.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.list.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.positions {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.positions img{
    width: 12px;
}.positions table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.positions tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.positions table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.positions table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.positions tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.positions tr:hover td{
    
}
.positions tr:nth-child(odd){ background-color:#e5e5e5; }
.positions tr:nth-child(even)    { background-color:#ffffff; }.positions td{
    vertical-align:middle;
    
    
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.positions tr:last-child td{
    border-width:0px 1px 0px 0px;
}.positions tr td:last-child{
    border-width:0px 0px 1px 0px;
}.positions tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.positions tr:first-child td{
        background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);

    background-color:#cccccc;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}
.positions tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);

    background-color:#cccccc;
}
.positions tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.positions tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}